<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
			<title>Insert title here</title>
			<link rel="styLesheet" href="css/estilos.css">
	</head>
	<!-- CUERPO -->
	<body>
	<!-- CONTENEDOR(cuerpo) -->
		<div id="contenedor">
			<!-- ENCABEZADO -->
			<header>
			<h1>Liga de Fútbol profesional</h1>
			</header>
			<!-- MENU -->
			<nav> 
				<!-- lista desordenada / links -->
				<ul>
					<li><a href="Index.html">Home</a></li>
					<li><a href="fixture.html">Fixture y Resultado</a></li>
					<li><a href="#">Equipos</a></li>
			
				</ul>
			</nav>
			<!-- SECCION(contenido) -->
			<section id="contenido">
				<div class="seccion-titulo-e">
					<h2>Equipos</h2>
				</div>
				<div class="d-tabla-e">
					<table class="tabla-eq">
						<tr>
							<td> <img alt="Arcenal" src="img/equipo/arsenal.jpg" width="200px" height="200px"></td>
							<td><p>En Sarandí el 11 de Enero de 1957, un grupo de muchachos se reunió en el ex bar "Las 3 FFF" 
							y , con la ilusión de todo principio, fundaron el Arsenal Fútbol Club.
							Entre aquellos socios fundadores podemos citar a los señores Julio Humberto Grondona ( qui en fue el primer presidente ),
							 Roberto Estévez. Horacio Montero, Orlando Acosta, Juan C. Utazún ( ex presidente ),Eloy de Medio, José M. Pérez, 
							 Francisco Ceferino ( socio número uno), Arnaldo Pandini, José Berdía, Gabriel Blanco, José Bueno, Américo Besada 
							 y Juan E. Elena ( quien fuera técnico del club )</p>.</td>
						</tr>
						<tr>
							<td> <img alt="River" src="img/equipo/river.jpg" width="200px" height="200px"></td>
							<td><p>El Club Atlético River Plate, se fundó el 25 de mayo de 1901 en el Barrio la Boca. 
							Nació de la fusión de los clubes Santa Rosa y Las Rosales, antiguos rivales, 
							ambos oriundos también del Barrio la Boca. Su nombre surgió de la denominación en inglés británico
							 al Río de la Plata y tuvo como primer presidente y capitán del equipo a Leopoldo Bard.
							 Fue en el año 1936, que el dirigente deportivo italiano, Antonio Vespucio Liberti, 
							 decidió la construcción del estadio que hoy lleva su nombre, conocido popularmente como el Monumental.</p></td>
						</tr>
						<tr>
							<td> <img alt="boca" src="img/equipo/boca.jpg" width="200px" height="200px"></td>
							<td><p>El Club Atlético Boca Juniors fue fundado el 3 de abril de 1905 por cinco inmigrantes italianos 
							que vivían en el barrio de La Boca. Sin siquiera imaginarlo, estos cinco jóvenes escribieron los primeros
							 párrafos de la historia del club más popular de la Argentina.</p></td>
						</tr>
					</table>
				</div>
							
			</section>
			<!-- AUSPICIENTES (propagandas) -->
			<aside id="auspiciantes">
				<div class="ausp-titulo">
					<h3>Auspiciantes</h3>
				</div>
				<div class="ausp">
					<div class="img-ausp">
						<img alt="im1" src="img/auspiciantes/adidas.jpg" width="100%">				
					</div>
					<div class="img-ausp">
						<img alt="img2" src="img/auspiciantes/macro.jpg" width="100%">				
					</div>
					<div class="img-ausp">
						<img alt="img3" src="img/auspiciantes/chebrolet.jpg" width="100%">				
					</div>
					<div class="img-ausp">
						<img alt="img4" src="img/auspiciantes/fravega.jpg" width="100%">				
					</div>
				</div>
			</aside>
			<!-- PIE DE PAGINA -->
			<footer>
				<h4> Avda. Pedro Ortiz de Zarate Nº 455 - Tel 388 4789555</h4>
			</footer>
				
		</div>

	</body>
</html>